---
title: "Bourbon: A lightweight mixin library for Sass"
---
<section id="features">
  <div class="container">
    <h1>Features</h1>
    <ol>
      <li>
        <h2>Pure Sass</h2>
        <p>Cause international liberal, outcomes inclusive raise awareness employment positive social change.</p>
      </li>
      <li>
        <h2>LibSass Compatiable</h2>
        <p>Aga Khan innovate donation inspire social change. Crisis management; generosity significant indicator transform the world. Capacity building, John Lennon.</p>
      </li>
      <li>
        <h2><abbr title="Don&rsquo;t repeat yourself">DRY</abbr></h2>
        <p>Aga Khan innovate donation inspire social change. Crisis management; generosity significant indicator transform the world. Capacity building, John Lennon.</p>
      </li>
      <li>
        <h2>No bloat</h2>
        <p>Equity beneficiaries dedicated facilitate, fundraise small-scale farmers, humanitarian strengthen democracy. Revitalize reduce child mortality nutrition.</p>
      </li>
      <li>
        <h2>Human-readable</h2>
        <p>Fluctuation Cesar Chavez meaningful honesty voice sustainable future. Global, economic development proper resources incubation.</p>
      </li>
    </ol>
  </div>
</section>

<section id="get-started">
  <div class="container">
    <h1>Get Started</h1>
    <ol>
      <li>Ruby on Rails</li>
      <li>Build Tool (Gulp)</li>
      <li>Vanilla</li>
    </ol>
  </div>
</section>

<section id="made-with">
  <div class="container">
    <h1>Made With Bourbon</h1>
    <ul>
      <li>
        <h2><%= link_to "Carousel", "//carousel.dropbox.com" %></h2>
        <%= image_tag "made-with/carousel.jpg" %>
      </li>
      <li>
        <h2><%= link_to "U.S. Digital Services Playbook", "//playbook.cio.gov" %></h2>
        <%= image_tag "made-with/us-digital-services-playbook.jpg" %>
      </li>
      <li>
        <h2><%= link_to "Middleman", "//middlemanapp.com" %></h2>
        <%= image_tag "made-with/middleman.jpg" %>
      </li>
      <li>
        <h2><%= link_to "Mailbox", "//mailboxapp.com" %></h2>
        <%= image_tag "made-with/mailbox.jpg" %>
      </li>
      <li>
        <h2><%= link_to "Website", "//example.com" %></h2>
        <%= image_tag "made-with/website.jpg" %>
      </li>
      <li>
        <h2><%= link_to "Website", "//example.com" %></h2>
        <%= image_tag "made-with/website.jpg" %>
      </li>
    </ul>
  </div>
</section>

<section id="bourbon-suite">
  <div class="container">
    <h1>Bourbon Suite</h1>
    <h2><%= link_to "Neat", "//neat.bourbon.io" %></h2>
    <h2><%= link_to "Bitters", "//bitters.bourbon.io" %></h2>
    <h2><%= link_to "Refills", "//refills.bourbon.io" %></h2>
  </div>
</section>
